# Cmake Files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# KiCad backup files
*bak

# Unused ST files
firmware/vendor/st/.cproject
firmware/vendor/st/.mxproject
firmware/vendor/st/.project

# Build artifacts
*.hex
*.bin
*.elf
firmware/build/
firmware/out/
firmware/output/
*.o
*.map
build_log.txt

# VScode settings
.vscode/*cortex-debug*
.vscode/settings.json
.vscode/*_properties.json
firmware/.vscode/launch.json

*.jlink